/* ------------------------------------------ */
/* ----------------HUVUDMENYN---------------- */
/* ------------------------------------------ */
nav#mainMenu {
	background-color: #eeeeee;
	min-height: 100%;
	width: 200px;
	float: left;
	display: block;		
	position: absolute;
	left: 0px;	
	overflow: hidden; 		
	list-style: none;
}	

	nav#mainMenu li {
		width: auto;
		height: auto;
		padding: 0px;
		float: left;
		text-align: center;	
	}

		nav#mainMenu li a {
			width: 180px;
			min-height: 15px;
			display: block;
			padding: 10px 10px 10px 10px;

			/* Texten till länkarna i huvudmenyn */
			color: #888888;
			font-size: 11pt;
			font-family: Helvetica, sans-serif;
			letter-spacing: 1px;
			text-align: center;
			text-decoration: none;
			border-bottom: 1px solid #cccccc;
			word-wrap: break-word;
			-webkit-line-break: normal;
		}

		/*  */
		nav#mainMenu li:first-child {
			border-top: 1px solid #cccccc;
		}

		/* Länken till den aktiva sidan. */
		nav#mainMenu li .active {
			background-color: #333333;
			color: #4bc4f1;
		}

		/* När användaren klickar på en länk så byter den färg. */
		nav#mainMenu li a:active {
			color: #20aae2; /* Ljus blå */
			text-decoration: underline;
		}

		/* När användaren för muspekaren över länken. */
		nav#mainMenu li a:hover {
			background-color: #333333;
			color: #4bc4f1; /* Ljus ljus blå */		
		}