@charset "utf-8";
/* CSS Document */

/* ------------------------------------------ */
/* ----------------RESET CSS----------------- */
/* ------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

/* ------------------------------------------ */
/* ------------------BASIC------------------- */
/* ------------------------------------------ */
body { 
	background-image: url("../layout/1.jpg"); 
	background-repeat: repeat; 
	//background-color: #76c3cb;
}

.left { float: left;}
.right { float: right;}
.center { text-align: center; margin: 0px auto 0px auto;}

ol { list-style: disc; }

/* ------------------------------------------ */
#topWrapper {
	background-color: #222222;
	width: 100%; 
	height: 50px;  
	position: fixed;
	top: 0px;  	
	z-index: 100;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
	
	#topBar {
		width: 1000px;
		height: 50px;
		overflow: hidden;
		margin: 0px auto 0px auto;
	}

		#searchContainer {
			height: 50px;
			width: 300px;
			color: #ffffff;
			padding: 16px;
			float: left;
		}

		#cartContainer {
			height: 50px;
			width: 600px;
			color: #ffffff;
			float: right;
			margin: 0px;
			padding: 5px 10px 0px 10px;
		}
			#cartContainer a#goToCart img {
				margin: 0px;
				padding: 0px;
				float: right;
			}
			

/* ------------------------------------------ */
.clearBottomContainers {
	clear: both;
}

/* ------------------------------------------ */	
#mainWrapper {
	background-color: #f7f7f7;
	width: 1000px;
	overflow: hidden;
	position: relative;
	top: 50px;
	margin: 0px auto 0px auto;
	box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

	

	/* ------------------------------------------ */
	/* ---BUTIKENS NAMN OCH ALLMÄN INFORMATION--- */
	/* ------------------------------------------ */
	#headerBar {
		background-color: #eeeeee;
		height: 120px;
		width: 1000px; 
		padding: 20px 0px 0px 0px;
		border-bottom: 1px solid #cccccc;
	}

		header {
			height: 100%;
			width: 390px;
			padding-right: 10px;
			float: left;			 			
		}

		#headerInfo1 {
			height: 100%;
			width: 300px;
			float: right;
		}

		#headerInfo2 {
			height: 100%;
			width: 300px;
			float: right;
		}

			.headerList li{
				margin-bottom: 8px;
				color: #222222;
			}

			.headerList li:first-child{
				margin-top: 6px;
			}

			.headerList li a {
				color: #222222;				
			}

			.headerList li a:hover {
				color: #4bc4f1;				
			}

	/* ------------------------------------------ */
	/* ---------------- ---------------- */
	/* ------------------------------------------ */
	#menuAndSectionContainer {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	

	/* ------------------------------------------ */
	/* ------HUVUDFÖNSTER MED ALLT INNEHÅLL------ */
	/* ------------------------------------------ */
	section {
		background-color: #f7f7f7;
		width: 760px; 
		overflow: hidden;
		float: right;
		padding: 10px 20px 20px 20px;
	}

		#sortBar {
			background-color: #333333;
			height: 25px ;
			width: 720px;
			padding: 5px 20px 5px 20px;
			border-radius: 10px;
			margin-bottom: 20px;
		}

			#goBackContainer {
				float: left;				
			}

			#sortContainer {
				float: right;
			}

		#firstPageNews {
			height: 320px;
			width: 758px;
			background-image: url("../layout/imgNews2.jpg");
			background-repeat: no-repeat;
			margin-bottom: 20px;
		}

		

	/* ------------------------------------------ */
	/* ------------------FOOTER------------------ */
	/* ------------------------------------------ */
	footer {
		background-color: #222222;
		height: 300px;
		width: 960px;
		padding: 20px;
		clear: both;
	}
		#footerInfo1 {
			height: 100%;
			width: 320px;
			float: right;
		}

		#footerInfo2 {
			height: 100%;
			width: 299px;
			padding-left: 20px;
			float: right;
			border-left: 1px solid #333333;
		}

		#footerInfo3 {
			height: 100%;
			width: 299px;
			padding-left: 20px;
			float: right;
			border-left: 1px solid #333333;
		}

		#footerInfo3 img {
			margin-top: 20px;
		}

		.footerList {
			padding-left: 20px;
		}

		.footerList li{
				color: #ffffff; 
				font-family: "Courier New", serif; 
				font-size: 12pt;
				margin-bottom: 10px;				
			}

			.footerList li:first-child{
				margin-top: 6px;
			}

			.footerList li a {
				color: #ffffff;				
			}

			.footerList li a:hover {
				color: #4bc4f1;				
			}