/* --------------------------------------------------------------*/
/* - GRUNDSTRUKTUREN TILL MENYN -------------------------------- */
/* --------------------------------------------------------------*/
#menuContainer {
	min-height: 65px;
 	width: auto;
 	position: relative;
 	//background-color: #dfd9d9;
 	background-color: pink;
 	overflow: hidden;
}

/* --------------------------------------------------------------*/
/* - HUVUD MENYN ----------------------------------------------- */
/* --------------------------------------------------------------*/
#mainMenu {
 	min-height: 32px;
 	width: 100%;
 	background-image: url("../layout/menuBg.png");
 	background-repeat: repeat-x; 
 	list-style: none; 	
 	float: left;
 	border-top: 1px solid #545454;
 	border-bottom: 2px solid #1c1c1c;
 	padding-top: 8px;
 	padding-left: 20px;
 	overflow: hidden;
}


	#mainMenu li {
		width: auto;
		height: auto;
		padding: 0px;
		float: left;
		text-align: center;	
	}


		#mainMenu li a {
			width: 110px;
			height: 15px;
			display: block;
			padding: 5px;

			/* Texten till länkarna i huvudmenyn */
			color: #ffffff;
			font-size: 11pt;
			font-family: Helvetica, sans-serif;
			letter-spacing: 1px;
			text-align: center;
			text-decoration: none;			
		}


		/* MENYN KNAPPEN - Länken till den aktiva sidan. */
		#mainMenu li .active {
			color: #ffffff;
			border-radius: 4px;
			border-top: 1px solid #7bdbff;
			border-bottom: 1px solid #024e7a;
			background-image: url("../layout/blueBox.png");
			background-repeat: repeat-x;
			background-size: auto 100%;
		}


		/* När användaren klickar på en länk så byter den färg. */
		#mainMenu li a:active {
			color: #20aae2; /* Ljus blå */
			text-decoration: underline;
		}


		/* När användaren för muspekaren över länken. */
		#mainMenu li a:hover {
			color: #4bc4f1; /* Ljus ljus blå */		
		}



/* --------------------------------------------------------------*/
/* - UNDER MENYN ----------------------------------------------- */
/* --------------------------------------------------------------*/
#subMenu {
 	min-height: 28px;
 	width: 100%;
 	background-color: #dfd9d9;
 	list-style: none; 	
 	float: left;
 	padding-top: 5px;
 	padding-left: 20px;
 	overflow: hidden;
}	


	#subMenu li {
		width: auto;
		height: auto;
		padding: 0px;
		margin: 0px;
		float: left;		
		text-align: center;
	}	


		#subMenu li a {
			min-width: 130px;
			height: 15px;
			display: block;
			font-size: 10pt;
			color: #000000;
			padding: 5px;
	 		font-family: serif;
	 		text-align: center;
	 		text-decoration: none;
	 		border-bottom: 3px solid #dfd9d9;
		}


		/* Länken till den aktiva sidan. */
		#subMenu li .active {
			color: #0784cc;
			border-bottom: 3px solid red;
		}


		#subMenu li a:hover {
			color: #0784cc;
			border-bottom: 3px solid red;
		}